# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
*.manifest
*.spec
.coverage
.coverage.*
htmlcov/
.pytest_cache/

# Environments
.env
.env.*
.envrc
venv/
.venv/
env/
ENV/

# Logs
*.log
*.out
*.err

# IDE/Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubernetes
.kube/
