apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-eks-app
  namespace: flask-eks
  labels:
    app: flask-eks-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flask-eks-app
  template:
    metadata:
      labels:
        app: flask-eks-app
    spec:
      containers:
        - name: flask-eks-app
          image: "975050024946.dkr.ecr.us-west-2.amazonaws.com/flask-app:<tag>" # Updated to match ECR repo name
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
      # TODO: Optionally add serviceAccountName bound with IRSA if needed
